
html{
    margin: 15px;
}

#tribute-info > h3:nth-child(3){
    text-align: center;
}

#title, #main > p{
    text-align: center;
}

#main{
    background-color: lightgray;
    border-radius: 8px;
    padding: 10px;
}

#img-div{
    text-align: center;
    background-color: white;
    padding: 15px;
}

#image{
    max-width: 600px;
    max-height: 300px;
    position: relative;
}

#headline{
    text-align: center;
}